//repeating elements
.bcg-layer{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.socials {
	&__text { 
        font-size: 16px;
    }
	&__item {
	}
	&__itemLink { 
        margin-left: 12px;
        font-size: 16px;
        font-weight: bold;
        &::before{
            content: '';
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
		&--viber { 
            &::before{
                background-color: #7D3DAF;
            }
        }
		&--whatsapp {
            &::before{
                background-color: #1FB69F;
            }
        }
		&--telegram { 
            &::before{
                background-color: #2CA0DA;
            }
        }
    }
}
.blueText { 
    color: var(--color-blue);
}

.svgBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}