@font-face {
    font-family: OpenSans;
    font-display: swap;
    src: url(../fonts/OpenSans-Regular.woff),url(../fonts/OpenSans-Regular.woff2);
    font-weight: normal;
    font-style:normal;
}
@font-face {
    font-family: OpenSans;
    font-display: swap;
    src: url(../fonts/OpenSans-Light.woff),url(../fonts/OpenSans-Light.woff2);
    font-weight: 300;
    font-style:normal;
}
@font-face {
    font-family: OpenSans;
    font-display: swap;
    src: url(../fonts/OpenSans-SemiBold.woff),url(../fonts/OpenSans-SemiBold.woff2);
    font-weight: 600;
    font-style:normal;
}
@font-face {
    font-family: OpenSans;
    font-display: swap;
    src: url(../fonts/OpenSans-Bold.woff),url(../fonts/OpenSans-Bold.woff2);
    font-weight: 700;
    font-style:normal;
}