//Брейкпойнты
$xl:1200px;
$lg:992px;
$md:768px;
$sm:414px;


//Базовые размеры
$layoutWidht:1920;
$containerWidth:1204;



:root {
    //Базовые цвета
    --color-blue: #005AFF;
    --color-gray: #37455C;
    --color-whitegray: #EFF4F5;
}
//Функции


//адаптивный размер свойства
@mixin adaptive-value($property, $startSize, $minSize,$isImportant,$type) {
    $addSize: $startSize - $minSize;
    @if $type == 1 {
        //только если меншье контейнера
        @if $isImportant == 1{
            #{$property}: $startSize + px !important;
            @media (max-width: #{$containerWidth + px}){
                #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - 414px) / #{$containerWidth - 414}) !important 
            }
        }@else{
            #{$property}: $startSize + px;
            @media (max-width: #{$containerWidth + px}){
                #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - 414px) / #{$containerWidth - 414}) 
            }
        }
        
    }
    @else if $type == 2 {
        //только если меншье контейнера
        @if $isImportant == 1{
            #{$property}: $startSize + px !important;
            @media (min-width: #{$containerWidth + px}){
                #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - 414px) / #{$layoutWidht - 414}) !important
            }
        }@else{
            #{$property}: $startSize + px;
            @media (min-width: #{$containerWidth + px}){
                #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - 414px) / #{$layoutWidht - 414}) 
            }
        }
        
    }
    @else{
        #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - 414px) / #{$layoutWidht - 414});
    }
}

//Получение величины в процентах от величины родителя
@function pxToPercent($sizePx, $parentSizePx) {    
    @return (($sizePx * 100)/$parentSizePx);
}
