@import "_nullstyles.scss";
@import "_fonts.scss";
@import "_vars.scss";
@import "_burger_menu.scss";
@import "_blocks.scss";
body{
    font-family: Gotham Pro;
    font-weight: normal;
    font-size: 14px;
}
svg{
    width: 100%;
    height: 100%;
}
.wrapper{
    max-width: #{$layoutWidht}px;
    margin: 0 auto;
} 
.container{
    max-width: #{$containerWidth}px;
    margin: 0 auto;
    @media (max-width:$xl) {
        padding: 0 20px;
    }
}
.header {
    display: flex;
    align-items: center;
	&__logo { 
        display: flex;
    }
	&__logoImg { }
	&__logoText { }
	&__socials { 
        display: flex;
    }
	&__phone {display: flex;}
	&__phoneIcon { }
	&__phoneNumber { }
	&__buttons {
        display: flex;
        color: white;
	}
	&__button { 
        display: flex;
        position: relative;
        padding: 42px 18px;
        stroke: none;
        &--left {
            &>.svgBackground .path{
                fill: var(--color-gray);
            }
            
        }
		&--right {
            fill: var(--color-blue);
        }
    }
	&__buttonIcon {
        height: 26px;
        width: 26px;
    }
	&__buttonText { }
}